
.image {
    width: 400px;
    border: none;
    float: left;

}
.info {
    font-size: 20px;
    width: 1200px;
    background: lightgray;
    height: 270px;
    padding: 45px;
    text-align: center;

}

.icon {
    width: 32px;
    border: none;
    float: left;

}

.can {
    display: inline-block;
    border-radius: 13px;
    background: lightgray;
    padding: 1px 15px;
    text-align: center;
    margin: 5px;
}

a:link {
    color: black;
    padding: 2px;
}

a:hover {
    background: black;
    color: lightgray;
}